body {
    background-color: lightcyan;
}

h1 {
    color: black; 
    font-family: Arial;
}

p {
    color: black; 
    font-family: Tahoma; 
}

table, th, td {
    border: 2px solid black;
}

th, tr {
    text-align: center;
}